@charset "utf-8";


$background:     #1D1D1D;
$font-color:     #FFF;
$primary-color:  #9C0000;
$grey:           #292929;
$primary-font:   "Vollkorn";
$secondary-font: futura-pt, sans-serif;








a {
    color: #FFF;
    text-decoration: none;
}

.h0 {
  font-family: $primary-font;
  font-size: 220px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;

}


h1 {
  font-family: $primary-font;
  font-size: 120px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}


h2 {
  font-family: $primary-font;
  font-size: 44px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}


h4 {
  font-family: FuturaPT;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}


p {
  font-family: $primary-font;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.87);
}



body {
    background: $background;
    color: $font-color;
}


.home-post-title {
    margin: 100px 0 0 0;
}


.wrapper {
    max-width: -webkit-calc(800px);
    max-width: calc(1080px);
    margin-right: auto;
    margin-left: auto;
    }


.post-thumbnail {
    position: absolute;
    right: 0;
    bottom: -350px;
    max-width: 32%;
}


.post-img {
    position: absolute;
    right: 0;
    max-width: 75%;

}



.post-link, p {
    padding-right: 30%;
}


.post-img-container {
    position: relative;
    height: 600px;
    z-index: -1;
}


ul {
    padding-inline-start: 0;
    list-style: none;
}


.site-header {
    min-height: 55.95px;
    line-height: 54px;
    position: fixed;
    font-family: $secondary-font;
    right: 0;
    left: 0;
    top: 50px;


    a {
        color: $font-color;
        font-size: 20px;
        letter-spacing: 0.3em;
    }
}


.site-title {
    font-size: 1.625rem;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}


.trigger {
    float: right;
    margin-right: 1vh;
}


.nav-trigger {
    display: none;
}



.page-content {
    margin: 200px 0 0 0;
}


.post-content {
    margin: 0 0 0 0;
}


.page-link, .menu-icon {
    margin-left: 100px;
    transition: color 2s;
    font-size: 20px;
    
}


.page-link:hover, .menu-icon:hover {
    margin-left: 100px;
    color: $primary-color;
    transition: color 0.5s;
    font-size: 20px;
}


.submit-button {
    padding: 10px 40px 10px 40px;
    float: left;
    border-radius: 10px;
    border-bottom-color: $font-color;
    background-color: transparent;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $font-color;
    margin-right: 10px;
}



textarea, input {
    background: transparent;
    color: $font-color;
    font-family: $primary-font;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: $font-color;
    padding: 20px;
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    border: solid 2px #fff;
    width: 793px;

    &::-webkit-input-placeholder { /* Edge */
        color: $font-color;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $font-color;
    }

    &::placeholder {
        color: $font-color;
    }
}


.home-listitem {
    padding-bottom: 20vw;
}


form, fieldset {
    border: 0;
    padding: 0;
}


.site-footer {

}


.feed-subscribe {
    display: none;
}


.footer-heading {
    margin-top: 250px;
    font-family: $primary-font;
    font-size: 220px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: $font-color;
    transition: color 1.0s;
}


.footer-heading:hover {
    margin-top: 250px;
    font-family: $primary-font;
    font-size: 220px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: $primary-color;
    transition: color 0.5s;
}


.user-invalid-valueMissing {
    font-family: $primary-font;
    font-size: 30px;
    font-weight: normal; 
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.87);
}


.post-title {
    font-family: $primary-font;
    font-size: 10vw;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: $font-color;
    margin: 300px 0 0 0;
    max-width: 100%;
  }


.footer-col-one-half {
    display: flex;
}


.dt-published {
    display: none;
}



.post-content-text{
    margin: 20px 0 20px 0;
    width: 65%;
    margin-left: 300px;
}
    

.excerpt-content {
}


.menu-icon { 
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
    display: none;

  }


.about-header {
    margin-top: -20px;
     margin-bottom: 40px;
  }


svg.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
    fill: currentColor;
    stroke: currentColor;
}


.post-content-img {
    max-width: 100%;
}



.logo-img {
    max-width: 100%;
}


.contact-text-padding {
    padding-left: 230px;
}


.footer-link {
    padding-right: 8vw;
}



/**
***************************************************************************************************************************************************************

RESPONSIVE DESIGN

***************************************************************************************************************************************************************
*/



@media screen and (max-width: 1200px) {
    .h0, h2, h3, {
        padding-left: 1vh;
        padding-right: 1vh;
        width: 65%;
    }
    
    .footer-heading, .footer-heading:hover {
    font-size: 17vw;
    }
    
    h1 {
        font-size: 10vw;
        padding-left: 1vh;
        padding-right: 1vh;
    }
    
    h2 {
        font-size: 4vw;
    }
    
    p {
        padding-left: 1vh;
        padding-right: 1vh;
        margin-left: 0;
        font-size: 2.2vw;
        max-width: 70%;
    }
    
    .post-content-text {
        padding-left: 1vh;
        padding-right: 1vh;
        margin-left: 0;
        font-size: 2.2vw;
        max-width: 80%;
    }
    
    
    .excerpt-content {
        max-width: 65%;
    }
    
    .user-invalid-valueMissing {
        font-size: 2.2vw;
        width: 65%;
    }
        
    .contact-text-padding {
        padding-left: 150px;
        padding-right: 1vh;
    }
    
    .logo-img {
        padding-left: 1.8vh;
    }
}



@media screen and (max-width: 1080px) {

    .post-thumbnail {
        bottom: -33vw;
    }
    
    .post-img-container {
        height: 53vw;
    }
    
    .logo-img {
        width: 16vw;
    }
    
        .post-title {
    margin-top: 20vw;
    }
    

}



@media screen and (max-width: 800px) {
    
    .footer-heading, .footer-heading:hover, .h0 {
        font-size: 17vw;
    }
    
    h1, .post-title {
        font-size: 12vw;
        width: 90%;
    }
    
    h2 {
        font-size: 4.5vw;
        width: 90%;
    }
    
    .post-content-text, p, {
        max-width: 80%;
        font-size: 3vw;
    }
    
    .excerpt-content {
        max-width: 90%;
        width: 800px;
    }
    
    .user-invalid-valueMissing {
        width: 75%;
        font-size: 3vw;
    }
    
    .home-post-title {
        margin-top: 28vw;
        margin-bottom: 0;
    }
    
    .contact-text-padding {
        padding-left: 1vh;
        padding-right: 1vh;
    }
    
    .about-header {
        margin-top: 20vw;
        margin-bottom: 0;
    }
    
    input ~ .trigger {
        display: none;
        padding-right: 10px;
    }
    
    input:checked ~ .trigger {
        display: flex;
        flex-direction: column;
        float: none;
        align-items: end;
    }
    
    .site-nav {
        display: flex;
        flex-direction: column;
    }
    
    .menu-icon {
        display: block;
    }
    
    .post-img {
        position: absolute;
        left: 5%;
        max-width: 90%;
    }
    
    .logo-img {
        width: 26vw;
    }
    
}



@media screen and (max-width: 400px) {
    
    h1 {
        font-size: 14vw;
        width: 90%;
    }
    
    .post-title {
        font-size: 14vw;
    }
    
    h2 {
        font-size: 6vw;
        width: 90%;
    }
    
    .post-content-text, p {
        max-width: 90%;
        font-size: 4vw;
        padding-right: 1vh;
    }
    
    .user-invalid-valueMissing {
        width: 90%;
        font-size: 4vw;
        padding: 12px;
        margin-bottom: 5px;
    }
    
    .home-post-title {
        margin-top: 26vw;
    }

    .logo-img {
        width: 40vw;
    }
}


