@charset "utf-8";


$background:     #1D1D1D;
$font-color:     #FFF;
$primary-color:  #9C0000;
$grey:           #292929;
$primary-font:   "Red Hat Display";
$secondary-font: "Red Hat Text";








a {
    color: #FFF;
    text-decoration: none;
}

.h0 {
  font-family: $primary-font;
  font-size: 10vw;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;

}


h1 {
  font-family: $primary-font;
  font-size: 6.5vw;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}


h2 {
  font-family: $primary-font;
  font-size: 3vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}


h4 {
  font-family: FuturaPT;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: $font-color;
}


p {
  font-family: $primary-font;
  font-size: 1.8vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.87);
}



body {
    background: $background;
    color: $font-color;
}

.wrapper {
    max-width: -webkit-calc(800px);
    max-width: calc(1080px);
    margin-right: auto;
    margin-left: auto;
    }


.post-thumbnail {
    max-width: calc(100% - 64px);
    border-radius: 8px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter .4s ease-in-out;
}


.home-listitem:hover
.post-thumbnail {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

}


.post-link p {
    padding-right: 380px;
}




ul {
    padding-inline-start: 0;
    list-style: none;
}



.site-header {
    min-height: 55.95px;
    line-height: 54px;
    position: fixed;
    font-family: $secondary-font;
    right: 0;
    left: 0;
    top: 50px;


    a {
        color: $font-color;
        font-size: 20px;
        letter-spacing: 0.3em
    }
}



.site-title {
    font-size: 1.625rem;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}



.trigger {
    float: right
}



.nav-trigger {
    display: none;
}



.page-content {
    margin: 200px 0 0 0;
}



.post-content {
    margin: 0 0 0 0;
}



.page-link, .menu-icon {
    margin-left: 100px;
    transition: color 2s;

}



.page-link:hover, .menu-icon:hover {
    margin-left: 100px;
    color: $primary-color;
    transition: 0.5s;
}



.submit-button {
    padding: 10px 40px 10px 40px;
    float: right;
    border-radius: 10px;
    border-bottom-color: $font-color;
    background-color: transparent;
    font-family: $secondary-font;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $font-color;
    margin-right: 10px;
}



textarea, input {
    background: transparent;
    color: $font-color;
    font-family: $primary-font;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: $font-color;
    padding: 20px;
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    border: solid 2px #fff;
    width: 793px;

    &::-webkit-input-placeholder { /* Edge */
        color: $font-color;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $font-color;
    }

    &::placeholder {
        color: $font-color;
    }
}



form, fieldset {
    border: 0;
    padding: 0;
}



.site-footer {

}



.feed-subscribe {
    display: none;
}



.footer-heading {
    margin-top: 250px;
    font-family: $primary-font;
    font-size: 10vw;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: $font-color;
    transition: color 1.0s;
}



.footer-heading:hover {
    margin-top: 250px;
    font-family: $primary-font;
    font-size: 10vw;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: $primary-color;
    transition: color 0.5s;
}



.user-invalid-valueMissing {
    font-family: $primary-font;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.87);
}



.post-title {
    font-family: $primary-font;
    font-size: 10vw;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: left;
    color: $font-color;
    margin: 300px 0 0 0;
    max-width: 100%;
  }



.footer-col-one-half {
    display: flex;
}



.dt-published {
    display: none;
}



.post-content-text{
    margin: 20px 0 80px 0;
    width: 65%;
    margin-left: 300px
}



.excerpt-content {
    margin: -50px 0 256px 0;
}



.menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
    display: none;

  }



svg.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
    fill: currentColor;
    stroke: currentColor;
}



.post-content-img {
    max-width: 100%;
}



.logo-img {
    max-width: 100%;
}



.contact-text-padding {
    padding-left: 230px;
}



.footer-link {
    padding-right: 8vw;
}



@media screen and (max-width: 1200px) {
    .h0, h1, h2, h3, {
        padding-left: 1vh;
        padding-right: 1vh;
        width: 65%;
    }

    .h0, post-title, p-name, .footer-heading, .footer-heading:hover {
        font-size: 12.3vw;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 4vw;
    }

    .post-content-text, p {
        padding-left: 1vh;
        padding-right: 1vh;
        margin-left: 0;
        font-size: 2.2vw;
    }
}



@media screen and (max-width: 800px) {

    input ~ .trigger {
        display: none;
        padding-right: 10px;
  }

    input:checked ~ .trigger {
        display: flex;
        flex-direction: column;
        float: none;
        align-items: end;
  }

    .site-nav {
        display: flex;
        flex-direction: column;
  }

    .menu-icon {
        display: block;
  }

    .footer-heading, .footer-heading:hover, .h0 {
        font-size: 17vw;
    }

    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 4.5vw;
    }

    .post-content-text, p {
        width: 60%;
        font-size: 3vw;
    }
}



@media screen and (max-width: 400px) {

        .footer-heading, .footer-heading:hover, .h0 {
    font-size: 20vw;
    }

    h1 {
        font-size: 14vw;
    }

    h2 {
        font-size: 6vw;
    }

    .post-content-text, p {
        width: 100%;
        font-size: 4vw;
    }
}


    .home-post-date {
      transform: rotate(-90deg);
      position: absolute;
      margin: auto;
      top: 9px;
      right: -9px;
      text-align: right;
    }


      .home-thumbnail-container {
        position: relative;
      }
